<component name="ArtifactManager">
  <artifact type="exploded-war" name="App">
    <output-path>$PROJECT_DIR$/out/artifacts/App</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="App" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="lib" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="App/web/Web" />
    </root>
  </artifact>
</component>